.gambar-poke {
    /* width: 100px; */
    /* height: 100px; */
    width: 30%;
    position: absolute;
    top: 0;
    left: 30%;
    /* background-color: #282c34; */
}

.loading {
    color: #fff;
}

.gambar-pokem {
    width: 30%;
}

.kartu {
    width: 100%;
    border: none;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnFormSend {
    min-width: 100px;
}

.wrapper-kartu {
    margin: 1%;
}