@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-kecil {
  width: 30px;
  height: 30px;
}

.pisah {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .pisah, .bg-dark {
    display: block !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -999999999;
  /* position: absolute; */
  /* width: 100%; */
}

.App-link {
  color: #61dafb;
}

.navbar {
  margin: 1% 0;
}

p {
  font: 400 16px "Montserrat", sans-serif;
}

.repo {
  color: blanchedalmond !important;
}

.repo:hover {
  font-weight: bold;
}

button {
  /* width: 100%; */
  height: 50px;
  outline: unset;
}

.menu {
  /* color: #ffffff; */
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu:hover {
  color: #50a3b9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
